[tool.cruft]
skip = ["pkglist.txt", "README.md", "extract", "tests"]

[tool.ruff]
line-length = 120
target-version = "py311"

[tool.ruff.format]
docstring-code-format = true
quote-style = "double"
indent-style = "space"

[tool.ruff.lint]
# Add the `line-too-long` rule to the enforced rule set. By default, Ruff omits rules that
# overlap with the use of a formatter, like Black, but we can override this behavior by
# explicitly adding the rule.
extend-select = ["E501", "D", "D404", "DOC"]
ignore = ["D100", "D101", "D102", "D103", "D104", "D105", "D106", "D107"]
preview = true

[tool.ruff.lint.pydocstyle]
convention = "google"
