tnefparse
olefile
beautifulsoup4
pylzma
lxml
msoffcrypto-tool
html5lib
pikepdf
https://github.com/gdesmar/nrs/archive/nsi-script.zip
debloat==1.6.1
zstandard
autoit-ripper
python-gnupg
mobi
uncompyle6==3.9.1
xdis
lief
binary-refinery==0.7.10
sfextract
