tnefparse
olefile
beautifulsoup4
pylzma
lxml
msoffcrypto-tool
html5lib
pikepdf
https://github.com/gdesmar/nrs/archive/nsi-script.zip
debloat==1.5.6.2
zstandard
autoit-ripper
python-gnupg
mobi
uncompyle6
xdis
